*.o
mouse/msmouse
mouse/pcmouse
spaceball/sb4000
display/ttc
display/ba63
display/ba63chars
display/dmm2ba63
display/ba63bmmf
display/ba63dmmf
display/bmmf13
display/mfuk13
display/ba63bblug
display/bv13
display/ba63bv2014
